{% extends "instructor/instructorBase.html" %}
{% load crispy_forms_tags %}

{% block alert_fail %} <p> Couldn't assign the grade.</p> 
<p>{{action_fail}}</p>{% endblock %}
{% block alert_success %} <p> Successfully assigned the grade.</p> {% endblock %}


{% block form %}{% if add_form %}
<div class="d-flex justify-content-center flex-nowrap">
    <div class="col-md-8 mx-auto">
        <form class="form-group" method="POST" novalidate action= "{% url 'giveGrade' %}">
            {{add_form|crispy}}
            {% csrf_token %}
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-outline-success">Assign Grade</button> 
        </form>
    </div>
</div>
{% endif %}{% endblock %}